<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Material Design Bootstrap</title>
  <!-- Font Awesome -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="css/mdb.min.css" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="css/style.css" rel="stylesheet">
</head>

<body>


       <p>Загрузите ваши фотографии на сервер</p>
       <img src = "" id = "get" width="90px" height="90px" class="avatar img-circle img-thumbnail" alt="avatar">
       <p id = "photo"></p>
    <form id = "myForm" enctype="multipart/form-data" encType="multipart/form-data">
       <p><input type="file" id = "pic" name="pic" class = "file-upload" multiple accept="image/*,image/jpeg">
       <input id = "file" type="submit" value="Отправить"></p>
    </form>
    <p id = "send">t</p>

    <script>
    $("#myForm").submit(function(event){
  event.preventDefault();
  //var formData = new FormData($(this)[0]);
  var formData = new FormData();
  var namePhoto = $('#send').text();
   formData.append('pic', pic.files[0], namePhoto + '.jpg');

  $.ajax({
    url: '/upload',
    type: 'POST',
    data: formData,
    async: false,
    cache: false,
    contentType: false,
    processData: false,
    success: function (data) {
      alert(data);
      $('#get').attr('src', data);
      //alert($('#get').attr('src', data));
    }
  });
});
    </script>

   <script>
   $(document).ready(function(){
   $('#get').attr('src', $('#send').text() + '.jpg');
 })
   </script>


  <!--<script>
  $(document).ready(function() {
    var readURL = function(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('.avatar').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    $(".file-upload").on('change', function(){
        readURL(this);
    });
});
</script>-->

  <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>

  <script type="text/javascript" src="js/popper.min.js"></script>

  <script type="text/javascript" src="js/bootstrap.min.js"></script>

  <script type="text/javascript" src="js/mdb.js"></script>
</body>

</html>
